@import "../../../../styles/variables.scss";

.links{
  display: flex;
  color: $Pastel-grey;
  text-decoration: none;
  padding: 18px 0;
  transition: color 0.3s ease;
  font-size: 18px;

  &:hover{
    color: $Neutral-white;
  }
  
  i{
    margin-left: 8px;
  }
}